.sc-gutikT kziJoT {
    display: none !important;
}


.jSnQVj [data-heading] {
    display: none !important;
}

.joQykT [data-heading] {
    display: none !important;

}

.sc-dkjaqt .FhcdH {
    text-transform: capitalize !important;
}
.kqiXKV > span {
    text-transform: capitalize !important;
}

.FhcdH {
    text-transform: capitalize !important ;
}

.koUMTO {
    margin-bottom: 10px !important;
}


