@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight:bold;
  font-style: normal;
}
@font-face{
  font-family: 'poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face{
  font-family: 'poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight:500;
  font-style: normal;
}
@font-face{
  font-family: 'poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight:600;
  font-style: normal;
}

img {
  border-radius: 4px;
}

.custum-paddles .slider-container {
  max-width: 1640px;
  margin-inline: auto;
}


.custum-paddles .slick-slide {
  padding-inline: 40px;
  width: 450px;
  height: 550px;
}

.captured-moments-slider-card{
  border: 3px solid #BBA887;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.custum-paddles .slick-prev {
  width: 60px;
  height: 60px;
  background: url(/app/assets/prevImg.png) no-repeat;
 

  background-size: contain;
  cursor: pointer;
}

.custum-paddles .slick-prev:before{
  background: url(/app/assets/prevImg.png) no-repeat;

}
.slick-next:before {
  /* content: none; */
}

.custum-paddles .slick-next:before {
  /* content: 'hiuh'; */
  background: url(/app/assets/prevImg.png) no-repeat;

}

.custum-paddles .slick-prev:hover,
.slick-prev:focus {
  color: initial;
  outline: none;
  background: url(/app/assets/prevImg.png) no-repeat;
}

.custum-paddles .slick-next {
  width: 60px;
  height: 60px;
  background: url(/app/assets/NextImg.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}

.custum-paddles .slick-next:hover,
.slick-next:focus,
.slick-next:hover,
.slick-next:focus {
  color: initial;
  outline: none;
  background: url(/app/assets/NextImg.png) no-repeat;
}


.custum-paddles .slick-list {
  margin-inline: 30px;
}

.testimonials .slick-list {
  margin-inline: 30px;
}



.testimonials .slider-container {

  margin-inline: auto;
  overflow: hidden;
  /* Prevent overflow */
}





.testimonials .slick-prev {
  width: 60px;
  height: 60px;
  background: url(/app/assets/prevImg.png) no-repeat;
  background-color: rgb(255, 255, 240);

  background-size: contain;
  cursor: pointer;
}

.testimonials .slick-next {
  width: 60px;
  height: 60px;
  background: url(/app/assets/NextImg.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}


.testimonials .slick-center {
  /* transform: scale(1.2); */
  /* Make the center card larger */
}

.testimonials .slick-center>div {

  background-color: #BBA887;
  color: white;
}

.imgx {
  border-radius: 100%;
}


.in{
  border: none !important;
  font-size: 24px;
  padding-left: 30px;
}
@media (max-width: 767px) {
  .in {
    font-size: 16px;  /* Change font size to 16px on small screens */
  }
}

.bannerx {
  background-color: rgba(0, 0, 0, 0.7); /* Black color with 70% opacity */
}

.testimonials .swiper-slide-active{
  scale: 1.2;
 
  color: white;
  border-radius: 20px;
  transition: transform 0.5s ease;
}
.swiper-slide-active .testimonial-review-name{
      color: white;
}

@media (max-width:968px) {
  .testimonials .swiper-slide-active{
   scale: 1;
    color: white;
    border-radius: 20px;
  }
}


.testimonials .swiper-slide-active {
  border-radius: 24px;
   /* border-radius: 20px;
  max-width: 524px;
  width: 100%;  */
  /* margin-left: 30px;
  margin-right: 30px; */
} 

.testimonials .swiper-slide-active > div{
  /* margin-inline: 20px; */
  background-color: #BBA887;

} 

.testimonials .swiper-slide-active  .test-button{
  background-color: white ;
  color: #BBA887;
}

.mobile-captured-moments .swiper-slide{
  border-radius: 20px;
}

.circle{
  border-radius: 20px
}
.shopbanner-card{
 grid-template-columns: repeat(auto-fit, minmax(330px, 1fr))
}

@media (max-width:1600px){
  /* .shopbanner-card{
    display: grid;
    max-width: 1180px;
    gap: 0;
    row-gap: 36px;
    grid-template-columns: repeat(3, 1fr);
   } */
}
/* @media (max-width:1024px){
  .shopbanner-card{
    display: grid;
    gap: 0;
    place-items: center;
    row-gap: 36px;
    grid-template-columns: repeat(2, 1fr);
   }
}
@media (max-width:968px){
  .shopbanner-card{
    display: grid;
    gap: 0;
    place-items: center;
    row-gap: 36px;
    grid-template-columns: repeat(1, 1fr);
   }
} */
.header-menu-item{
  color: white !important;
}

@media (max-width: 640px) {
  .mobile-header {
    display: flex;
  }
}

@media (min-width: 641px) {
  .mobile-header {
    display: none;
  }
}



.mobile-header .header-ctas {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
}

.mobile-header{
  background-color: rgba(0, 0, 0, 0.9); /* Black color with 70% opacity */
}

.header-menu-mobile-toggle h3{
  color: white;
  font-size: 24px;
}

.testimonials 
 .swiper-slide:not(.swiper-slide-active) > div {
    max-width: 405px;
    
  
}
.testimonial-review-name{
      color: #BBA887;
}
.testimonials 
.swiper-slide.w-full.swiper-slide-next  >div {
    margin: 0 0 0 auto;
}
.testimonials 
.swiper-slide {
    padding-top: 100px;
    padding-bottom: 60px;
    transition: scale  0.5s;
}
@media (max-width :768px) {
  .testimonials 
.swiper-slide {
    padding-bottom: 0  ;
    transition: scale  0.5s;
}
}
.product-colors-button button {
  
  border-radius: full; 

  
  padding: 12px 18px;
  min-width: 48px; 
  
 
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  background-color: white;/* Default background */
  /* border: 1px solid #ccc; Light border */
  
  color: #bba887;
  /* text-indent: -9999px; */
 

  /* Add transition for hover effect */
  transition: all 0.3s ease;
  
  /* Visual styles when hovered */
  cursor: pointer; /* Show pointer cursor on hover */
}


.product-colors-button button:hover {
  background-color: #ddd; 
  border-color: #999; 
  /* Darken the border */
}

/* Specific color buttons */



/* Styling the scrollbar itself */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

/* Styling the thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #BBA887; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #fff; /* Border around the thumb */
}

/* Styling the track (where the thumb slides) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

/* Optional: Styling the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #A88B64; /* Change color when hovering over thumb */
}