@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight:bold;
  font-style: normal;
}
@font-face{
  font-family: 'poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face{
  font-family: 'poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight:500;
  font-style: normal;
}
@font-face{
  font-family: 'poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight:600;
  font-style: normal;
}

img {
  border-radius: 4px;
}

.custum-paddles .slider-container {
  max-width: 1640px;
  margin-inline: auto;
}


.custum-paddles .slick-slide {
  padding-inline: 40px;
  width: 450px;
  height: 550px;
}

.captured-moments-slider-card{
  border: 3px solid #BBA887;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.custum-paddles .slick-prev {
  width: 60px;
  height: 60px;
  background: url(/app/assets/prevImg.png) no-repeat;
 

  background-size: contain;
  cursor: pointer;
}

.custum-paddles .slick-prev:before{
  background: url(/app/assets/prevImg.png) no-repeat;

}
.slick-next:before {
  /* content: none; */
}

.custum-paddles .slick-next:before {
  /* content: 'hiuh'; */
  background: url(/app/assets/prevImg.png) no-repeat;

}

.custum-paddles .slick-prev:hover,
.slick-prev:focus {
  color: initial;
  outline: none;
  background: url(/app/assets/prevImg.png) no-repeat;
}

.custum-paddles .slick-next {
  width: 60px;
  height: 60px;
  background: url(/app/assets/NextImg.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}

.custum-paddles .slick-next:hover,
.slick-next:focus,
.slick-next:hover,
.slick-next:focus {
  color: initial;
  outline: none;
  background: url(/app/assets/NextImg.png) no-repeat;
}


.custum-paddles .slick-list {
  margin-inline: 30px;
}

.testimonials .slick-list {
  margin-inline: 30px;
}



.testimonials .slider-container {

  margin-inline: auto;
  overflow: hidden;
  /* Prevent overflow */
}





.testimonials .slick-prev {
  width: 60px;
  height: 60px;
  background: url(/app/assets/prevImg.png) no-repeat;
  background-color: rgb(255, 255, 240);

  background-size: contain;
  cursor: pointer;
}

.testimonials .slick-next {
  width: 60px;
  height: 60px;
  background: url(/app/assets/NextImg.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}


.testimonials .slick-center {
  /* transform: scale(1.2); */
  /* Make the center card larger */
}

.testimonials .slick-center>div {

  background-color: #BBA887;
  color: white;
}

.imgx {
  border-radius: 100%;
}


.in{
  border: none !important;
  font-size: 24px;
  padding-left: 30px;
}
@media (max-width: 767px) {
  .in {
    font-size: 16px;  /* Change font size to 16px on small screens */
  }
}

.bannerx {
  background-color: rgba(0, 0, 0, 0.7); /* Black color with 70% opacity */
}

.testimonials .swiper-slide-active{
  scale: 1.2;
 
  color: white;
  border-radius: 20px;
  transition: transform 0.5s ease;
}



.testimonials .swiper-slide-active {
  border-radius: 24px;
   /* border-radius: 20px;
  max-width: 524px;
  width: 100%;  */
  /* margin-left: 30px;
  margin-right: 30px; */
} 

.testimonials .swiper-slide-active > div{
  /* margin-inline: 20px; */
  background-color: #BBA887;

} 

.testimonials .swiper-slide-active  .test-button{
  background-color: white ;
  color: #BBA887;
}

.mobile-captured-moments .swiper-slide{
  border-radius: 20px;
}

.circle{
  border-radius: 20px
}

.header-menu-item{
  color: white !important;
}

@media (max-width: 640px) {
  .mobile-header {
    display: flex;
  }
}

@media (min-width: 641px) {
  .mobile-header {
    display: none;
  }
}



.mobile-header .header-ctas {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
}

.mobile-header{
  background-color: rgba(0, 0, 0, 0.9); /* Black color with 70% opacity */
}

.header-menu-mobile-toggle h3{
  color: white;
  font-size: 24px;
}

.testimonials 
 .swiper-slide:not(.swiper-slide-active) > div {
    max-width: 405px;
}
.testimonials 
.swiper-slide.w-full.swiper-slide-next  >div {
    margin: 0 0 0 auto;
}
.testimonials 
.swiper-slide {
    padding: 7rem 0;
    transition: scale  0.5s;
}